<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kotlin_dictionary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".network_check.Network_Check"></activity>
        <activity android:name=".Sensor_Ex.Sensor_EX" />
        <activity android:name=".SharedPreference.SharedPreference" />
        <activity android:name=".pushAlarm.PushAlarm" />
        <activity android:name=".databinding.Kotlin_Activity6" />
        <activity android:name=".AudioManager_VolumeUpDouwn.Volume_UpDown" />
        <activity android:name=".navigation.NavigationView" />
        <activity android:name=".progressbar.ProgressBar" />
        <activity android:name=".mycalendarview.Mycalendarview" />
        <activity android:name=".web_videoview.Video" /> <!-- <activity android:name=".web_calendar_videoview.Video"></activity> -->
        <activity android:name=".web_videoview.WebView" />
        <activity android:name=".Tablayout.Tablayout" />
        <activity android:name=".widjet_set.Widjet_set" />
        <activity android:name=".bottomnavigation.Bottomnavigation" />
        <activity android:name=".Custom_RecyclerView_D.Custom_RecyclerView" />
        <activity android:name=".Custom_ListView.Custom_ListView" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>